<!-- 
******************************************************************************
*  ___________           .__      ___________                         		 *
*  \__    ___/___   ____ |  |__   \_   _____/__________ __ __  _____  		 *
*    |    |_/ __ \_/ ___\|  |  \   |    __)/  _ \_  __ \  |  \/     \ 		 *
*    |    |\  ___/\  \___|   Y  \  |     \(  <_> )  | \/  |  /  Y Y  \		 *
*    |____| \___  >\___  >___|  /  \___  / \____/|__|  |____/|__|_|  /		 *
*               \/     \/     \/       \/                          \/  v1.1	 *
*																			 *
*						SIT313: Mobile Computing							 *
*						Name  :	HONG LY										 *
*						ID    : 215350188									 *	
*																			 *	
******************************************************************************		
 -->

<ion-header>
	<ion-toolbar>	<!-- a toolbar is a generic bar that is positioned above content -->
		<ion-buttons start>
			<button ion-button icon-only (click)="onNewPost()">
				<ion-icon name="create"></ion-icon>	<!-- created a button with only icon "create" -->
			</button>
		</ion-buttons>

		<!-- Feature will be implemented in upcoming versions -->
		<ion-segment>	<!-- a segment is a group of buttons allows users to interact with a compact group of a number of controls -->
			<ion-segment-button value="new">
				New
			</ion-segment-button>
			<ion-segment-button value="hot">
				Hot
			</ion-segment-button>
		</ion-segment>

		<!-- Feature will be implemented in upcoming versions -->
		<ion-buttons end>
			<button ion-button icon-only>
				<!-- search icon on top right of the screen  -->
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<!-- This idea to sort in reverse is from a user danielsogl at https://github.com/ionic-team/ionic-preview-app/tree/master/src/pages/cards/advanced-social -->
<ion-content class="cards-bg social-cards">

<ion-card>	<!-- card is a great way to display important pieces of content, and are quickly emerging as a core design pattern for apps.  -->
	<ion-item>
		
	    <button
	      ion-item	      
	      *ngFor="let post of posts; let i = index"
	      (click)="onLoadPost(post, i)">	
	      <!-- onLoadPost(post, i) is getting index so that it can be used with updatePost method in services of posts.ts -->

	      <ion-avatar item-start>
			<img src="assets/image/hong.jpg">
		  </ion-avatar>

	      <h2>{{ post.title }}</h2>  

          <p>{{ post.description }}</p>
     
	      <ion-note *ngFor="let detail of post.details">
            {{ detail.name }}
          </ion-note>

	    </button>
	</ion-item>
</ion-card>
<!-- end danielsogl's idea -->

</ion-content>
