// customize the font type, size, color and align the text with the label.font in signin.html

ion-label.font{
	font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
	font-size: 160%;
	color: #0000FF;
	text-align: center;
}
